<html>
	<body>
		<script type="text/javascript">
			function setSpaceOpen(state) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "https://spaceapi.open-lab.at/update_open_state.php", true);
				xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
				xhr.send('authorization={{Token}}&open='+state);
			}
		</script>
        <a onclick="setSpaceOpen(true)" href="#">Open</a>
        <a onclick="setSpaceOpen(false)" href="#">Close</a>
	</body>
</html>
